.loader {
  position: fixed;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 0 50px;
  background-color: blueviolet;
  inset: 0;
  z-index: 1;
  animation: disappear 5s linear forwards;
  animation-delay: 3s;
  animation-iteration-count: 1;
}
.loading {
  display: flex;
  align-items: center;
}
.loading__spinner {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  animation-duration: 4s forwards;
  animation-name: slide 4s forwards;
}
h1{
    font-family: "Shrikhand", "sans-serif";
    font-size: 50px;
    letter-spacing: 1px;
    margin: 0;
    padding: 0; 
}

.loading_logo{
  /*background-color: azure;*/
  text-shadow: blue;
}

@keyframes slide {
  from {
    margin-right: 500%;
  }
  to {
    margin-left: 0%;
  }
}
@keyframes disappear {
  from {
    opacity: 1;
    z-index: 2;
  }
  to {
    opacity: 0;
    z-index: -100;
  }
}
/*<img class="loading_logo" src="assets/img/ohmyfood.png" />*/