* {
  font-family: "Roboto", "sans-serif";
  list-style: none;
  text-decoration: none;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500&display=swap");

html {
  position: relative;
  min-height: 100%;
  margin: 0px;
  padding: 0px;
}
body {
  margin: 0px auto;
  padding: 0px;
  height: 100%;
  max-width: 1400px;
  box-sizing: border-box;
}

:root {
  --Primary: #9356dc;
  --Secondary: #ff79da;
  --Tertiaire: #99e2d0;
  --grey: #f8f7f7;
  --lightgray: rgb(231, 231, 231);
}
.main {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
h2 {
  padding-left: 30px;
  padding-top: 15px;
}

/*   Accueil   */

.OhMy {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
.reservez {
  background-color: var(--grey);
}
.location {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--lightgray);
  box-shadow: inset 0px 2px darkgrey;
}
.location p {
  margin-left: 70px;
}
.location input {
  color: black;
  border: none;
  padding-left: 20px;
  font-weight: bold;
  font-size: 18px;
  background-color: var(--lightgray);
}
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-bottom: 50px;
  height: 250px;
  width: 75%;
  margin: auto;
}
.explorebutton {
  height: 55px;
  width: 225px;
  margin-top: 20px;
  color: white;
  text-align: center;
  border-radius: 25px;
  background: linear-gradient(
    to bottom right,
    #e16fda 0%,
    #e270da 45%,
    #a55cdb 70%,
    #ab65ed 100%
  );
  box-shadow: 3px 8px 5px var(--lightgray);
}
.explorebutton:hover {
  font-weight: bold;
  box-shadow: 1px 8px 6px black;
  transform: scale(1.04, 1.04);
  transition: 0.2s all ease-in-out;
}

/*   Fonctionnement    */

.fonction {
  margin-top: 25px;
  margin-bottom: 70px;
}
.fonction-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.fonction-list > a {
  margin-left: 45px;
  margin-right: 30px;
}
.fonction-choice {
  display: flex;
  align-items: center;
  min-height: 75px;
  margin-left: 25px;
  margin-right: 20px;
  gap: 20px;
  border-radius: 25px;
  background-color: var(--grey);
  box-shadow: 2px 6px 8px var(--lightgray);
}
.fonction-choice > p {
  font-weight: bold;
}
.cur {
  padding-left: 9px;
}
.cur1 {
  padding-left: 3px;
}
.choice-number {
  position: relative;
  left: -15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: var(--Primary);
}
.fonction-choice:hover {
  background-color: rgba(255, 0, 234, 0.2);
}
.fonction-choice:hover i {
  color: var(--Primary);
}
.fa-mobile-alt,
.fa-list-ul,
.fa-store {
  background-color: none;
  color: darkgrey;
}

/*   Restaurants       */

.restaurants {
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: var(--grey);
}
.restaurants ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0px;
  margin: 30px;
}
.restaurants li {
  margin: 10px 0;
  padding-bottom: 5px;
  border-radius: 15px;
  flex-basis: 30%;
  min-width: 30%;
  background-color: white;
  box-shadow: 1px 2px 8px gray;
}
.restaurants li:hover {
  transform: scale(1.02, 1.02);
  transition: 0.2s all ease-in-out;
}
.restaurants figure {
  margin: 0 0;
  width: 100%;
  height: 100%;
}
.restaurants img {
  flex-basis: 100%;
  min-width: 100%;
  object-fit: cover;
  width: 100%;
  max-height: 200px;
  box-sizing: content-box;
  border-radius: 15px 15px 0 0;
}
.newtag {
  position: absolute;
  font-weight: bold;
  color: lightseagreen;
  background-color: var(--Tertiaire);
  margin: 16px 20px 0 320px;
  padding: 5px 10px;
}
.restaurants figcaption,
.restaurants h4,
.restaurants p {
  width: 100%;
  margin: 0px 2px 1px 5px;
}
.heartbutton {
  border: none;
  background: white;
  position: absolute;
  margin: 215px 20px 0 360px;
  padding: 0;
  cursor: pointer;
}

/*    Footer          */

.footer {
  background-color: #535353;
  color: white;
  padding-top: 1px;
  padding-bottom: 1px;
}
.footcontainer h4 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 100;
  font-size: 17px;
  letter-spacing: 1px;
  padding-left: 30px;
  padding-top: 10px;
}
.footcontainer ul {
  padding-left: 30px;
}
.fa-utensils {
  padding-right: 18px;
  font-size: smaller;
}
.fa-hands-helping {
  padding-right: 10px;
  font-size: smaller;
}
