.heartbutton {
  border: none;
  background: $grey;
  position: absolute;
  margin: 47px 0 0 400px;
  padding: 0;
  cursor: pointer;
}
.purchasebutton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 225px;
  margin-top: 20px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-weight: 500;
  text-align: center;
  border-radius: 25px;
  background: $bgbutton;
  box-shadow: 3px 8px 5px $lightgray;
  &:hover {
    font-weight: bold;
    box-shadow: 1px 8px 6px $dgray, inset 0 2px 15px white;
    transform: scale(1.04, 1.04);
    transition: 0.3s all ease-in-out;
  }
}
