@keyframes slide {
  from {
    opacity: -1;
    transform-origin: 0% bottom;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform-origin: 100% top;
    transform: scale(1);
  }
}
@keyframes hrt-vide {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
