@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2? family=Shrikhand & display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2? family=Shrikhand & display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2? family=Shrikhand & display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2? family=Shrikhand & display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2? family=Shrikhand & display=swap");
@keyframes slide {
  from {
    opacity: -1;
    transform-origin: bottom 0%;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform-origin: top 100%;
    transform: scale(1);
  }
}
* {
  font-family: "Roboto", "sans-serif";
  list-style: none;
  text-decoration: none;
}

body,
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100%;
  max-width: 1400px;
  box-sizing: border-box;
}

.main {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

/* COLOR */
.heartbutton {
  border: none;
  background: var(--grey);
  position: absolute;
  margin: 47px 0 0 400px;
  padding: 0;
  cursor: pointer;
}

/*.heartbutton:hover{
  background-color: var(--bgbutton);
  color: red;
  transform-origin: 50% top;
  transform: scale(1.1);
}*/
.purchasebutton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 225px;
  margin-top: 20px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-weight: 500;
  text-align: center;
  border-radius: 25px;
  background: linear-gradient(to bottom right, #e16fda 0%, #e270da 45%, #a55cdb 70%, #ab65ed 100%);
  box-shadow: 3px 8px 5px #e7e7e7;
}
.purchasebutton:hover {
  font-weight: bold;
  box-shadow: 1px 8px 6px gray;
  transform: scale(1.04, 1.04);
  transition: 0.2s all ease-in-out;
}

/* COLOR */
.heartbutton {
  border: none;
  background: var(--grey);
  position: absolute;
  margin: 47px 0 0 400px;
  padding: 0;
  cursor: pointer;
}

/*.heartbutton:hover{
  background-color: var(--bgbutton);
  color: red;
  transform-origin: 50% top;
  transform: scale(1.1);
}*/
.purchasebutton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 225px;
  margin-top: 20px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-weight: 500;
  text-align: center;
  border-radius: 25px;
  background: linear-gradient(to bottom right, #e16fda 0%, #e270da 45%, #a55cdb 70%, #ab65ed 100%);
  box-shadow: 3px 8px 5px #e7e7e7;
}
.purchasebutton:hover {
  font-weight: bold;
  box-shadow: 1px 8px 6px gray;
  transform: scale(1.04, 1.04);
  transition: 0.2s all ease-in-out;
}

/* COLOR */
.OhMy {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.footer {
  background-color: #535353;
  color: white;
  padding-top: 1px;
  padding-bottom: 1px;
}
.footer h4 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 100;
  font-size: 17px;
  letter-spacing: 1px;
  padding-left: 30px;
  padding-top: 10px;
}
.footer ul {
  padding-left: 30px;
}

/*.footcontainer h4 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 100;
  font-size: 17px;
  letter-spacing: 1px;
  padding-left: 30px;
  padding-top: 10px;
}*/
/*.footcontainer ul {
  padding-left: 30px;
}*/
.fa-utensils {
  padding-right: 18px;
  font-size: smaller;
}

.fa-hands-helping {
  padding-right: 10px;
  font-size: smaller;
}

/* COLOR */
/* COLOR */
.heartbutton {
  border: none;
  background: var(--grey);
  position: absolute;
  margin: 47px 0 0 400px;
  padding: 0;
  cursor: pointer;
}

/*.heartbutton:hover{
  background-color: var(--bgbutton);
  color: red;
  transform-origin: 50% top;
  transform: scale(1.1);
}*/
.purchasebutton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 225px;
  margin-top: 20px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-weight: 500;
  text-align: center;
  border-radius: 25px;
  background: linear-gradient(to bottom right, #e16fda 0%, #e270da 45%, #a55cdb 70%, #ab65ed 100%);
  box-shadow: 3px 8px 5px #e7e7e7;
}
.purchasebutton:hover {
  font-weight: bold;
  box-shadow: 1px 8px 6px gray;
  transform: scale(1.04, 1.04);
  transition: 0.2s all ease-in-out;
}

h2 {
  padding-left: 30px;
  padding-top: 15px;
}

.reservez {
  background-color: #f8f7f7;
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0 5px 0;
  background-color: #e7e7e7;
  box-shadow: inset 0px 2px gray;
}
.location__input {
  color: black;
  border: none;
  padding-left: 20px;
  font-weight: bold;
  font-size: 18px;
  background-color: #e7e7e7;
}
.location p {
  margin-left: 70px;
}

/*.location p {
  margin-left: 70px;
}*/
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-bottom: 50px;
  height: 250px;
  width: 75%;
  margin: auto;
}

.explorebutton {
  height: 55px;
  width: 225px;
  margin-top: 20px;
  color: white;
  text-align: center;
  border-radius: 25px;
  background: linear-gradient(to bottom right, #e16fda 0%, #e270da 45%, #a55cdb 70%, #ab65ed 100%);
  box-shadow: 3px 8px 5px #e7e7e7;
}
.explorebutton:hover {
  font-weight: bold;
  box-shadow: 1px 8px 6px gray;
  transform: scale(1.04, 1.04);
  transition: 0.2s all ease-in-out;
}
.explorebutton p {
  padding: 10px 0 10px 0;
}

/*   Fonctionnement    */
.fonction {
  margin-top: 25px;
  margin-bottom: 70px;
}
.fonction__list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.fonction__list > a {
  margin-left: 45px;
  margin-right: 30px;
}
.fonction__choice {
  display: flex;
  align-items: center;
  min-height: 75px;
  margin-left: 25px;
  margin-right: 20px;
  gap: 20px;
  border-radius: 25px;
  background-color: #f8f7f7;
  box-shadow: 2px 6px 8px #e7e7e7;
}
.fonction__choice:hover {
  background-color: rgba(255, 0, 234, 0.2);
}
.fonction__choice:hover:hover i {
  color: #9356dc;
}
.fonction__choice > p {
  font-weight: bold;
}

.cur {
  padding-left: 9px;
}

.cur1 {
  padding-left: 3px;
}

.choice__number {
  position: relative;
  left: -15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #9356dc;
}

.fa-mobile-alt,
.fa-list-ul,
.fa-store {
  background-color: none;
  color: gray;
}

/*   Restaurants       */
.restaurants {
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: #f8f7f7;
}
.restaurants ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0px;
  margin: 30px;
}
.restaurants li {
  margin: 10px 0;
  padding-bottom: 5px;
  border-radius: 15px;
  flex-basis: 30%;
  min-width: 30%;
  background-color: white;
  box-shadow: 1px 2px 8px gray;
}
.restaurants li:hover {
  transform: scale(1.02, 1.02);
  transition: 0.2s all ease-in-out;
}
.restaurants figure {
  margin: 0 0;
  width: 100%;
  height: 100%;
}
.restaurants img {
  flex-basis: 100%;
  min-width: 100%;
  object-fit: cover;
  width: 100%;
  max-height: 200px;
  box-sizing: content-box;
  border-radius: 15px 15px 0 0;
}
.restaurants figcaption,
.restaurants h4,
.restaurants p {
  width: 100%;
  margin: 0px 2px 1px 5px;
}

.newtag {
  position: absolute;
  font-weight: bold;
  color: lightseagreen;
  background-color: #99e2d0;
  margin: 16px 20px 0 320px;
  padding: 5px 10px;
}

.heartbutton {
  border: none;
  background: white;
  position: absolute;
  margin: 215px 20px 0 360px;
  padding: 0;
  cursor: pointer;
}

@keyframes slide {
  from {
    opacity: -1;
    transform-origin: bottom 0%;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform-origin: top 100%;
    transform: scale(1);
  }
}
* {
  font-family: "Roboto", "sans-serif";
  list-style: none;
  text-decoration: none;
}

body,
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100%;
  max-width: 1400px;
  box-sizing: border-box;
}

.main {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

/* COLOR */
.heartbutton {
  border: none;
  background: var(--grey);
  position: absolute;
  margin: 47px 0 0 400px;
  padding: 0;
  cursor: pointer;
}

/*.heartbutton:hover{
  background-color: var(--bgbutton);
  color: red;
  transform-origin: 50% top;
  transform: scale(1.1);
}*/
.purchasebutton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 225px;
  margin-top: 20px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-weight: 500;
  text-align: center;
  border-radius: 25px;
  background: linear-gradient(to bottom right, #e16fda 0%, #e270da 45%, #a55cdb 70%, #ab65ed 100%);
  box-shadow: 3px 8px 5px #e7e7e7;
}
.purchasebutton:hover {
  font-weight: bold;
  box-shadow: 1px 8px 6px gray;
  transform: scale(1.04, 1.04);
  transition: 0.2s all ease-in-out;
}

/* COLOR */
.heartbutton {
  border: none;
  background: var(--grey);
  position: absolute;
  margin: 47px 0 0 400px;
  padding: 0;
  cursor: pointer;
}

/*.heartbutton:hover{
  background-color: var(--bgbutton);
  color: red;
  transform-origin: 50% top;
  transform: scale(1.1);
}*/
.purchasebutton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 225px;
  margin-top: 20px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-weight: 500;
  text-align: center;
  border-radius: 25px;
  background: linear-gradient(to bottom right, #e16fda 0%, #e270da 45%, #a55cdb 70%, #ab65ed 100%);
  box-shadow: 3px 8px 5px #e7e7e7;
}
.purchasebutton:hover {
  font-weight: bold;
  box-shadow: 1px 8px 6px gray;
  transform: scale(1.04, 1.04);
  transition: 0.2s all ease-in-out;
}

/* COLOR */
.OhMy {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.footer {
  background-color: #535353;
  color: white;
  padding-top: 1px;
  padding-bottom: 1px;
}
.footer h4 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 100;
  font-size: 17px;
  letter-spacing: 1px;
  padding-left: 30px;
  padding-top: 10px;
}
.footer ul {
  padding-left: 30px;
}

/*.footcontainer h4 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 100;
  font-size: 17px;
  letter-spacing: 1px;
  padding-left: 30px;
  padding-top: 10px;
}*/
/*.footcontainer ul {
  padding-left: 30px;
}*/
.fa-utensils {
  padding-right: 18px;
  font-size: smaller;
}

.fa-hands-helping {
  padding-right: 10px;
  font-size: smaller;
}

/* COLOR */
body {
  background-color: #f8f7f7;
}

h1 {
  font-family: "Shrikhand", "sans-serif";
  font-size: 34px;
  letter-spacing: 1px;
  margin: 0px;
  padding: 40px 0 40px 20px;
}

h2 {
  padding-left: 15px;
  padding-top: 15px;
}

h4,
p {
  margin: 0;
}

/*   header   */
.OhMy a {
  position: absolute;
  top: 25px;
  left: 30px;
}

.imagebg {
  width: 100%;
}

/*   Menu  */
.menu {
  background-color: #f8f7f7;
  border-radius: 50px 50px 0 0;
  width: 100%;
  margin-top: -60px;
  padding-bottom: 20px;
  overflow: overlay;
}
.menu_detail {
  display: flex;
  flex-direction: column;
}
.menu_detail h3 {
  width: 55px;
  margin-left: 20px;
  font-size: 23px;
  font-weight: 300;
  border-bottom: 5px solid #99e2d0;
}
.menu_form {
  padding: 0;
  margin: 16px 0;
}
.menu_description {
  display: flex;
  flex-direction: column;
  padding: 5px 5px 8px 5px;
}
.menu_choice {
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  background-color: white;
  border-radius: 15px;
  margin: 0 15px 20px 15px;
  padding-left: 6px;
  padding-right: 15px;
  box-shadow: 0px 6px 12px #e7e7e7;
  animation-duration: 2s;
  animation-name: include slide;
}
.menu_choice:hover {
  transition: 500ms ease-in-out;
  margin-right: 65px;
  overflow: visible;
  cursor: pointer;
  border-radius: 15px 0 0 15px;
}
.menu_check {
  background-color: #99e2d0;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
  margin-right: -65px;
  /* -65px;*/
  border-radius: 0 15px 15px 0;
}
.menu_entrees, .menu_plats, .menu_desserts {
  margin-bottom: 25px;
}

.price {
  display: flex;
  align-items: flex-end;
  margin-right: 20px;
  margin-left: auto;
  margin-bottom: 8px;
  padding-bottom: 3px;
  font-weight: bold;
}

.fa-check-circle {
  transform: rotateX(360deg);
  transition: transform 700ms;
}

.fa-heart {
  font-size: 30px;
  background: var(--grey);
}

.fa-heart:active {
  background-color: linear-gradient(to bottom right, #e16fda 0%, #e270da 45%, #a55cdb 70%, #ab65ed 100%);
  color: red;
  transform-origin: 50% top;
  transform: scale(1.1);
}

/*    Footer          */
/* COLOR */

/*# sourceMappingURL=style.css.map */
